<footer>
  <a href="https://www.flaticon.com/free-icons/message" title="message icons"
    >Message icons created by SeyfDesigner - Flaticon</a
  >

  <a href="https://github.com/FedeLopez17/mini-message-board" target="_blank">
    <span class="github-icon" title="Source Code"></span>
  </a>
</footer>
